name: Build & Publish

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 8 and JDK 21 with Gradle Cache
      uses: actions/setup-java@v4
      with:
          distribution: 'temurin'
          java-version: |
            8
            21
          cache: 'gradle'
    - name: Build
      uses: gradle/gradle-build-action@v3
      with:
        arguments: :lib:build
    - name: Publish
      uses: gradle/gradle-build-action@v3
      with:
        arguments: |
          -PmavenCentralUsername=${{ secrets.MAVEN_CENTRAL_USERNAME }}
          -PmavenCentralPassword=${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          -PsigningPassword=${{ secrets.MAVEN_CENTRAL_SIGNING_PASSWORD }}
          -PsigningKey=${{ secrets.MAVEN_CENTRAL_SIGNING_KEY }}
          :lib:publish
